form#form(action='/games/start', method='post')
  fieldset
    legend New Game
    .row
      mixin field(4, 'hero', null, null, 'Hero Name', true)
      mixin field(4, 'numSquare', null, null, 'Board Size')
      .small-4.columns: button.radius.small.expand(type='submit') Start Game
        #board