extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1#title Dungeon Crawl
  .row
    .small-12.columns
      h4: a(href='/games/instructions') Instructions
  .row
    .small-12.columns
      include form
  .row
    .small-6.columns
      #health-bar
        .clear
    .small-6.columns
      #sidebar
        h4 Treasures:
        .clear
  .row
    .small-12.columns
      #board
  .row
    .small-12.columns
      #bottom-fix