extends ../template/layout
include ../mixins/form-helper

block content
  .row
    .small-12.columns
      h1 Dungeon Crawl
  .row
    .small-12.columns
      h3 Instructions
  .row
    .small-12.columns
      p Welcome to <strong>DUNGEON CRAWL</strong>, where your wildest fantasies of princesses and gold can become online realities! But beware: by entering this mystical realm you expose yourself to myriad dubious characters... You must follow these rules while on your <strong>DUNGEON CRAWL:</strong>
      ul
        li The goal of <strong>DUNGEON CRAWLER</strong> is to find the <em>princess</em> and the <em>gold</em> before making your way to the exit.
        li At the start of the game, your number of health points will be equal to the number of squares you choose to add when you create a new game.
        li We're just going to level with you: this place is scary as hell. And f@%#ing dangerous. Beware of the <strong>orcs</strong>! Some orcs are stronger than others. One orc might take 5 or 10 points from you. You can deal with that. Other orcs will give you a straight-up beatdown. We're talking 30 points, bro. And every time you make a move, the orcs pop up in new squares. It's freaking insane.
        li You think orcs are scary? Okay, orcs are kinda scary. But they usually can't kill you in one encounter. Dragons, on the other hand? There's only one dragon on the board, but he pops up in a new place every time you make a move. And unlike the orcs, he's a totally unforgiving badass who will roast your ass to death with his flaming death breath.
        li Oh. And did we mention there are <strong>wormholes</strong>? Yeah dude. Jump into one and you never know where you're going to wind up when you come through the other side!
        li DON'T GO TO THE EXIT UNTIL YOU FIND THE GOLD <em>AND</em> THE PRINCESS. Seriously. We created this arbitrary rule to weed out dummies.
        li So that's about it. Find the treasure. Scoop up the princess. Go to the exit. Try not to get murdered by mythical creatures on your way.
        li Now off with you. <a href="/">Click here to go live the dream!</a>
  .row
    .small-12.columns
      img#alone(src='/images/dangerous-to-go-alone.jpg')
